*{
    text-align: center;
    margin: 0;
}

#main{
    background-color: green;
    padding-top: 25%;
    padding-bottom: 25%;
}

#info{
    background-color: grey;
    padding: 5% 10% 5% 10%;
}

#info p{
    line-height: 30px;
    margin-top: 2rem;
}

#details{
    background-color: lightcoral;
}

#details_pc{
    display: none;
    grid-template-columns: 4fr 2fr 1fr 2fr 4fr;
    background-color: lightblue;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

#details-pic1_pc{
    grid-column: 2;
}

#details-pic2_pc{
    grid-column: 4;
}

#details_mobile{
    display: inline-block;
    margin-top: 5rem;
}

#details_mobile ul li{
    list-style: none;
}

#details_mobile p{
    max-width: 250px;
    margin-bottom: 2.5rem;
}