*{
    color: black;
    text-align: center;
    margin: 0;
}

ul li{
    list-style: none;
}

.mapouter{
    position:relative;
}

.gmap_canvas{
    overflow:hidden;
    background:none!important;
}

#main{
    background-color: green;
    padding-top: 25%;
    padding-bottom: 25%;
}

#info{
    background-color: grey;
    padding: 5% 10% 5% 10%;
}

#info p{
    line-height: 30px;
    margin-top: 2rem;
}

#details{
    background-color: lightcoral;
}

#details_pc{
    display: none;
    grid-template-columns: 4fr 2fr 1fr 2fr 4fr;
    background-color: lightblue;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

#details-pic1_pc{
    grid-column: 2;
}

#details-pic2_pc{
    grid-column: 4;
}

#details_mobile{
    display: inline-block;
    margin-top: 5rem;
}

#details_mobile p{
    max-width: 250px;
    margin-bottom: 2.5rem;
}

#form_pc{
    display: none;
    background-color: blue;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

#form_pc p{
    margin-left: 2rem;
    margin-right: 2rem;
}

#form_pc form{
    margin-top: auto;
    margin-bottom: auto;
}

#lorem{
    grid-row: 2;
    grid-column: 2;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#find{
    grid-row: 1;
    grid-column: 1;
}

#adress{
    grid-row: 1;
    grid-column: 2;
}

#email{
    grid-row: 1;
    grid-column: 3;
}

#phone{
    grid-row: 1;
    grid-column: 4;
}

#form_pc-form{
    grid-row: 2;
    grid-column: 3;
}

#form_mobile{
    background-color: blue;
    display: inline-block;
    padding-bottom: 5rem;
}

#form_mobile ul li{
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

@media only screen and (min-width: 600px){
    #details_mobile{
        display: none;
    }

    #details_pc{
        display: grid;
    }
}

@media only screen and (min-width: 950px){
    #form_mobile{
        display: none;
    }

    #form_pc{
        display: grid;
    }
}